<!DOCTYPE html>
<html>
<head>
    <title>Lista de Proyectos</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="text-right mt-3">
            <a href="{% url 'lista_tareas' %}" class="btn btn-primary">Tareas</a>
        </div>
        <h1 class="text-center">Proyectos</h1>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-center" scope="col">Nombre</th>
                            <th class="text-center" scope="col">Descripción</th>
                            <th class="text-center" scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for proyecto in proyectos %}
                            <tr>
                                <td class="text-center">{{ proyecto.nombre }}</td>
                                <td class="text-center">{{ proyecto.descripcion }}</td>
                                <td class="text-center">
                                    <div class="text-center">
                                        <a href="{% url 'actualizar_proyecto' proyecto.pk %}" class="btn btn-success">Actualizar</a>
                                        <a href="{% url 'eliminar_proyecto' proyecto.pk %}" class="btn btn-danger">Eliminar</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="text-center mt-3">
                    <a href="{% url 'crear_proyecto' %}" class="btn btn-primary">Crear Proyecto</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
