<!DOCTYPE html>
<html>
<head>
    <title>Lista de Tareas</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="text-right mt-3">
            <a href="{% url 'lista_proyectos' %}" class="btn btn-primary">Proyectos</a>
        </div>
        <h1 class="text-center">Tareas</h1>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-center" scope="col">Título</th>
                            <th class="text-center" scope="col">Estado</th>
                            <th class="text-center" scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tarea in tareas %}
                            <tr>
                                <td class="text-center">{{ tarea.titulo }}</td>
                                <td class="text-center">{{ tarea.estado }}</td>
                                <td class="text-center">
                                    <div class="text-center">
                                        <a href="{% url 'actualizar_tarea' tarea.pk %}" class="btn btn-success">Actualizar</a>
                                        <a href="{% url 'eliminar_tarea' tarea.pk %}" class="btn btn-danger">Eliminar</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="text-center mt-3">
                    <a href="{% url 'crear_tarea' %}" class="btn btn-primary">Crear Tarea</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
